@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body    {
    margin: 0;
    background-color: #0b0111;
    font-family: 'Staatliches', cursive;
    color: white;
}

.logoGenius {
    color: white;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
.main-game  {
    /* height: 100vh;
    width: 100vw; */
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius  {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #0b0111;
    background-color: #0b0111;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.green    {
    grid-area: verde;
    background-color: #0b0111;
    border-top-left-radius: 100%;
    background: radial-gradient(circle 1px at 105% 105%, transparent, transparent 120px, #43B5A0 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.red    {
    grid-area: vermelho;
    background-color: #0b0111;
    border-top-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 105%, transparent, transparent 120px, #FA448C 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.yellow   {
    grid-area: amarelo;
    background-color: #0b0111;
    border-bottom-left-radius: 100%;
    background: radial-gradient(circle 1px at 105% 0%, transparent, transparent 120px, #FEC859 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.blue   {
    background-color: #0b0111;
    border-bottom-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 0%, transparent, transparent 120px, #491D88 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.selected {
    opacity:0.5;
    box-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 100px white;
}


/* Meu Footer - Assinatura */
footer {
	margin-top: 25px;
	position: relative;
	text-align: center;
    color: white;
}
a	{
	color: #FA448C;
}
span {
  position: relative;
  display: inline-block;
  color: var(--purple); 
  animation: hearts 0.6s cubic-bezier(0.18, 0.89, 0.29, 1.05) infinite;
}


/* Small Screen - Heart */
@-moz-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-webkit-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@-o-keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}
@keyframes hearts {
  50% {
    transform: scale(1.4);
  }
}